
/* dvdvsdvs */

body,html {
    height: 100vh;
    margin: 0;
}

.section1{
    height: 100vh;
    width: 100vw;
}

.background-image{
    width: 100%;
    height: 100%;
    overflow: hidden;
    box-sizing: border-box;     
    z-index: -1;
    background-position: center;
    background-size: cover;
    object-fit: cover;
    bottom:40%;
}

.header-logo{     
    width: 13%;
    height: 13%;
    display: flex;
    flex-wrap: wrap;
}
a{
    text-decoration: none;
    color: white;
    font-size: 14px;
    font-family: 'Open Sans Condensed', sans-serif;
 }

.nav-bar{
    position: relative;
    bottom:95%;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}
.nav-items {    
    display: flex;
    flex-direction: row;   
    flex-wrap: wrap;
}
.nav-link {
    color: white;
    display: flex;
    align-items: flex-end;
    margin: 10px;   
    flex-wrap: wrap;

}
.text {
    width: 70%;
    margin-left: 20%;

    color: white;
    font-size: 75px;
    position: relative;
    bottom: 70%;
    font-family: 'Open Sans Condensed', sans-serif;
}

.T1{
    font-family: 'Open Sans Condensed', sans-serif;
  padding: 10px;
}

.grid-container {
    display: grid;
    grid-template-columns: auto auto;
    background-color: #ffffff;
    padding: 10px;
  }
  .grid-item {
    background-color: rgba(255, 255, 255, 0.8);
    border: 1px solid rgba(0, 0, 0, 0.8);
    padding: 20px;
    font-size: 30px;
    text-align: center;
  }

.footer-container {
    background-color: #161F1E;
    display: flex;
    flex-direction: column;
    color: white;
    width: 100vw;
    height: 70vh;
    
    justify-content: space-around;
}

.footer-item-logo {
    display: flex;
    justify-content: space-around;
    padding-top: 8%;
 
    /* border: 1px red solid; */
}

.footer-items {
    display: flex;
    flex-wrap: wrap;
}

#footer-logo {
    height: 10%;
    width: 10%;
}

#footer-links {
    display: flex;
    justify-content: space-around;
    /* border: 2px solid white; */
    width: 60%;
    flex-wrap: wrap;
}

.links {
    margin-bottom: 50px;
}

.contact-info, .link, .page {
    margin-bottom: 10px;
}

.copyright {
    opacity: 0.5;
    width: 50%;
    position: relative;
    left: 9%;
    bottom: 10%;
}
